[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
opencv-python = "*"
paho-mqtt = "*"
line-bot-sdk = "*"
websocket-server = "*"
websocket-client = "*"
flask = "*"
tweepy = "*"
qrcode = "*"
pillow = "*"

[requires]
python_version = "3.7"
